html,
body {
    scroll-behavior: smooth;
}

.nav-link {
    padding: 20px;
    margin-left: 10px;
}

.bg-jumbotron {
    background-image: url("../img/carousel_1.jpg");
    padding: 14rem;
    background-size: cover;
    background-attachment: fixed;
}

.overlay {
    z-index: 999999;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 1);
    text-align: center;
}

.overlay .spinner-border {
    margin-top: 18rem;
}

.info-panel {
    margin-top: -80px;
    background-color: white;
    padding: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    border-radius: 30px;
}
